li{
    margin-left: 7%;
    margin-right: 7%;
    list-style: none;
    display: inline-block;
    text-align: center;
    padding: 20px 20px 20px 20px ;
    border-radius: 5px;
}
.jua:hover{
    text-decoration: none;
    background-color: #0080FF;
}

a{
    all: unset;
}
ul{
    margin: auto;
    font-family: "Roboto", "Verdana";
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    color: white;
    background-color: #0080FF;
}
li:hover{
    text-decoration: underline;
    background-color: #005dba;
}
*{
    margin: 0;
    padding: 0;
}
.load{
    animation: slide 0.3s;
}
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    animation: slide 10s infinite;
}
.content{
    
    width: 100%;
    height: 80vh;
    
}
.principal{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    
    letter-spacing: 5px;
}
.principal h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.principal p{
    font-size: 20px;
}
@keyframes slide{
    0%{
        background-image: url('image.png');
    }
    20%{
        background-image: url('image.png');
    }
    20.01%{
         background-image: url('2.png');
    }
    40%{
         background-image: url('2.png');
    }
    40.01%{
         background-image: url('tsavo.jpg');
    }
    60%{
         background-image: url('tsavo.jpg');
    }
    60.01%{
         background-image: url('4.png');
    }
    80%{
         background-image: url('4.png');
    }
    80.01%{
        background-image: url('momba.jpg');
   }
   100%{
        background-image: url('momba.jpg');
   }
}
.mid-title{
    font-size: 30px;
    padding: 2.5% 40% 2.5% 40%;
}
.mid-section{
    padding-left: 7%;
    display: flex;
    flex-wrap: wrap;
    background-color: #f1f1f1;
    padding-bottom: 5%;
}
.dest img{
    width: 300px;
    height: 200px;
}
.dest{
    
    margin-top: 3%;
    margin-right: 2%;
    margin-bottom: 1%;
    text-align: center;
}
.dest p{
    margin-top: 10px;
    font-size: 20px;
}
.view-more{
    margin-left: 45.5%;
    margin-top: -5%;
    color: white;
    background-color: #0080FF;
    padding: 15px 20px 15px 20px;
    border-color: #0080FF;
    border-style: solid;
    font-size: 20px;
    border-radius: 8px;
}
.newsletter{
    margin-left: 35%;
    margin-bottom: 3%;
}
.newsletter input{
    width: 450px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.newsletter p{
    font-size: 40px;
    padding: 3% 0px 3% 0px;
}
.send{
    margin-left: 15px;
    background-color: #0080FF;
    padding: 10px 10px 10px 10px;
    border-color: #0080FF;
    border-style: solid;
    font-size: 20px;
    border-radius: 5px;
    color: white;
}
footer{
    background-color: black;
    padding: 5% 0px 5% 5%;;
    color: white;
}
